@import "vars";
@import "march-ants";

.flow-chart-box {
  position: relative;
  width: 100%;
  height: 100%;

  border: solid 1px $fc-border-color;

  line-height: 1.2;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  user-select: none;
  overflow: hidden;

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(50,50,50,.3)
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(50,50,50,.08)
  }


  &,
  * {
    box-sizing: border-box;
  }
}

.flow-chart {
  position: relative;
  width: 100%;
  min-height: 100%;

  overflow: visible;

  .fc-node {
    position: absolute;

    width: $fc-node-base-width;

    color: #666;
    background-color: #cce5ff;

    border: solid $fc-node-base-border-width #99ccff;
    border-radius: 4px;

    cursor: default;
  }

  .fc-node-inner {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: $fc-node-base-height;
  }

  .fc-node-text {
    padding: 2px 4px;
    text-align: center;
    word-break: break-all;
  }

  .fc-node-circle {
    width: 84px;
    border-color: #ffe6cc;
    background-color: #ffffcc;
    border-radius: 24px;
  }

  .fc-node-rectangle {}

  .fc-node-diamond {
    width: 88px;
    height: 88px;

    border: none 0;
    background-color:  transparent; // rgba(0,0,0,0.2);


    .fc-node-inner {
      padding: 0;
      width: 64px;
      height: 64px;

      border: solid $fc-node-base-border-width #ffcc99;
      background-color: #ffe6cc;

      border-radius: 4px;
      transform: translate(12px, 12px) rotate(45deg);
    }

    .fc-node-text {
      transform: rotate(-45deg);
    }
  }

  .fc-node-skeleton {
    z-index: $z-index-skeleton;
    display: none;

    position: absolute;
    left: -$fc-node-skeleton-padding;
    right: -$fc-node-skeleton-padding;
    top: -$fc-node-skeleton-padding;
    bottom: -$fc-node-skeleton-padding;

    padding: $fc-node-skeleton-padding;

    opacity: 0.5;

    pointer-events: none;
  }

  .fc-selected {
    &.fc-node {
      .fc-node-skeleton {
        display: block;
      }
    }

    &.jtk-connector {
      path {
        &:first-of-type {
          stroke: $color-primary;
        }

        &.jtk-overlay {
          fill: $color-primary;
          stroke: $color-primary;
        }
      }
    }
  }

  .fc-disabled {
    &.fc-node {
      filter: grayscale(100%);
      opacity: 0.5;
    }
  }

  .fc-node-text-input {
    width: 100%;
  }

  [contenteditable='true'] {
    caret-color: red;

    &:focus {
      outline: inset 1px transparent;
      padding: 2px 4px;
    }
  }

  .jtk-overlay {
    z-index: $z-index-jtk-overlay;
    font-size: 12px;
    color: #aab7c4;
    background: #fff;
    pointer-events: none;
  }
}


.fc-toolbox {
  z-index: $z-index-toolbox;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;

  .fc-toolbox-top {
    display: flex;
    align-items: center;
    gap: 0 16px;

    padding: 8px 16px;
    width: 100%;
    height: 100%;

    background-color: #f6f7f8;
    border: 1px solid #E9E9E9;
  }

  .fc-toolbox-bottom {
    display: flex;
    align-items: center;
    gap: 0 16px;

    padding: 8px 16px;
    height: 40px;
    margin-top: -1px;

    background-color: #f6f7f8;
    border: 1px solid #E9E9E9;
  }


  .feature-list {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .shape-list {
    display: flex;
    align-items: center;

    height: 100%;
  }

  .feature-item,
  .shape-item {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 8px;
    padding: 4px;
    height: 28px;
    min-width: 28px;

    border-radius: 4px;

    &:first-of-type {
      margin-left: 0;
    }

    &:hover {
      background-color: #eaecee;
    }
  }

  .tool-divider {
    height: 28px;
    width: 1px;
    background-color: #dfe2e5;
  }

  .node-info {}

  .fc-item-info {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  .fc-ii-item {
    margin-right: 24px;
  }

  .fc-ii-label {
    color: #999;
  }
  .fc-ii-cont {
    margin: 0 0 0 8px;
    color: #333;
    vertical-align: middle;
  }
  .fc-ii-input {
    display: inline-block;
    padding: 0 0 0 8px;
    height: 28px;
    width: 10em;
    line-height: 32px;
    outline: none;
    border: 1px solid #dcdfe6;
    color: #606266;
    background: #fff;
    -webkit-appearance: none;

    &:hover,
    &:focus {
      border-color: $color-primary;
    }

    &[type="number"] {
      width: 4.5em;
    }
  }
  .fc-ii-position {
    display: inline-block;
    min-width: 9em;
  }


  .fc-node {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 16px;
    color: #212930;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      border: solid 2px;
      border-radius: 2px;

      scale: 0.75;
    }
  }


  .fc-node-circle {
    &:before {
      border-radius: 100px;
    }
  }

  .fc-node-diamond {
    &:before {
      width: 16px;
      transform: rotate(45deg);
    }
  }

  .biz-ids-box {
    position: relative;
    display: inline-block;
  }

  .dropdown-menu-biz-ids {
    position: absolute;
    left: 0;
    top: 100%;

    padding-top: 4px;
    padding-bottom: 2px;
    min-width: 320px;
    max-height: 80vh;

    color: #212930;
    font-size: 13px;

    overflow-y: auto;

    border-radius: 4px;
    border: #e9edf2;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);

    .biz-id-menu-item {
      display: flex;
      align-items: center;

      padding: 8px 8px;

      &:hover {
        background: #f3f5f9;
      }
    }
    .menu-item-checkbox {}
    .menu-item-icon {
      margin-left: 4px;
      color: #c4d0dc;
    }
    .menu-item-text {}
  }
}


// 线
.jtk-connector {

  // hover 样式
  &.jtk-hover {
    path {
      stroke: $color-primary;
    }
  }
}

// 端点
.jtk-endpoint {
  &:hover {
    circle {
      fill: $color-primary;
    }
  }

  // 开始端点
  &.jtk-dragging {
    circle {
      fill: $color-primary;
    }
  }

  // 目标端点
  &.jtk-endpoint-drop-allowed {
    circle {
      fill: $color-primary;
    }
  }

}

.fc-line-ball {
  display: none;
  z-index: $z-index-line-ball;
  position: absolute;
  left: 259px;
  top: 210px;

  width: 6px;
  height: 6px;
  background-color: rgba(2, 109, 255, 0.5);
  border-radius: 50%;

  offset-path: path('M 0 0 L 30 0 L 240 0 L 450 0 L 480 0');
  offset-distance: 0;

  transform: translate(3px, 5px);

  animation: kf--fc-line-ball 3s linear infinite;

  pointer-events: none;
}

@keyframes kf--fc-line-ball {
  from {
    offset-distance: 0;
  }
  to {
    offset-distance: 100%;
  }
}

@keyframes kf-connector {
  to {
    stroke-dashoffset: 0;
  }
}
