$color-primary: #026dff;
$fc-border-color: #dfe2e5;

$fc-node-base-width: 128px;
$fc-node-base-height: 44px;
$fc-node-base-border-width: 1px;

$fc-node-skeleton-padding: 4px;

$ant-size: 8px;

$z-index-skeleton: -1;
$z-index-toolbox: 99;
$z-index-line-ball: 99;
$z-index-jtk-overlay: 99;

